@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');

:root {
    font-size: calc(0.3em + 0.5vw);
    box-sizing: border-box;
    --bg-color: black;
    --bg-second-color: white;
    --text-color: white;
    --text-second-color: black;
    --bg-header-color: black;
}

body {
    background-color: var(--bg-second-color);
    transition: 0.3s;
    width: 70%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    word-wrap: break-word;
}


@media (max-width: 999px) {
    :root {
        font-size: calc(0.3em + 0.5vw);
    }
    .hamburger-menu {
        display: block;
    }
 
    .nav {
        display: none;
    }
    
    .into-text {
        display: none;
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: calc(0.3em + 0.5vw);
    }

    .nav {
        display: flex;
    }
    
    .into-text {
        display: none;
    }
}
@media (min-width: 1200px) {
    :root {
        font-size: calc(0.4em + 0.5vw);
    }
}

@media (min-width: 1600px) {
    :root {
        font-size: calc(0.7em + 0.1vw);
    }
}

* { 
    text-decoration: none;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: "Comfortaa", sans-serif; 
}

