@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #1c1d20;
  color: white;
  display: block;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.header {
  padding-top: 15px;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  padding-left: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(247, 108, 8);
}

.main-wrapper {
  padding: 150px 0 150px 0;
  margin: 0 auto;
  max-width: 1000px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-left-text {
  font-style: normal;
  font-size: clamp(3em, 5vw, 7em);
  font-weight: 450;
  letter-spacing: normal;
  display: flex;
  align-items: center;
}

.mail-logo img {
  max-height: 200px;
}

.contact-form {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.send-form {
  width: 68%;
}

.contact-question {
  border-top: 1px solid grey;
  padding: 35px;
}

.question-label {
  font-size: 2.33em;
}

.question-field {
  padding: 15px;
}

.question-field input {
  appearance: none;
  background-color: #1c1d20;
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  font-size: 1.8em;
  color: white;
}

.question-error {
  color: #1c1d20;
  display: none;
}

.question-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.q-button {
  border: solid 2px grey;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background: grey;
  transition: 0.4s;
  color: white;
  font-size: 2.33em;
}

.q-button:hover {
  border: solid 2px rgb(247, 108, 8);
  border-radius: 20px;
  background: rgb(247, 108, 8);
  color: white;
}
.contact-details {
  width: 22%;
  display: flex;
  flex-direction: column;
}

.details-group {
  padding: 25px;
}

.group-caption {
  font-size: 0.8em;
  color: grey;
}

.group-block {
  margin: 15px;
}

.group-info {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  transition: 0.4s;
}

.group-info:hover {
  border-bottom: 1px grey;
  color: rgb(231, 199, 157);
}

.footer-wrapper {
  padding-top: 150px;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.wrapper-left-block {
  display: flex;
  width: 54%;
}

.wrapper-right-block {
  width: 32%;
  display: inline;
}

.footer-caption {
  padding: 8px;
  font-size: 0.7em;
  color: grey;
}

.footer-info {
  padding: 8px;
}

.footer-info p#time {
  margin: 0;
}

.footer-link {
  padding-right: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: rgb(231, 199, 157);
}
