@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');  

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #1C1D20;
  color: white;
  display: block;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.header {
  padding-top: 15px;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color:  white;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  padding-left: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(247, 108, 8);
}


.main-wrapper {
  max-width: 1200px;
  margin: auto;
}

.greetings {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin: 100px 50px 50px 100px;
}

.about-me h1 {
  color: white;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
  max-width: 500px;
}

.about-me h3 {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 550px;
}

.p-image {
  width: 350px;
  flex-shrink: 0;
  border-radius: 235px;
}

.cv-button {
  border: solid rgb(247, 108, 8);
  border-radius: 3px;
  background: rgb(247, 108, 8);
  margin-top: 30px;
  width: 210px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.4s;
}

.cv-button:hover {
  border: solid grey;
  border-radius: 3px;
  background: grey; 
  color: black;
}

.posts {
  background: #1C1D20;
  max-height: 500px;
}

.upper-wrapper {
  padding-top: 15px;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.upper-wrapper a.left-text {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}

.upper-wrapper a.link-blog {
  text-decoration: none;
  color: #00a8cc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}

.rec-posts {
  margin: auto;
  max-width: 1200px;
  max-height: 350px;
  display: flex;
  justify-content: space-between;
}

.rec-posts h1 {
  color: white;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.post-info {
  color: grey;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rec-posts p {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post-one,
.post-two {
  max-width: 600px;
  margin: 30px;
  padding: 30px;
  background: #27282d;
  border: 2px #1C1D20;
  border-radius: 10px;
  transition: 0.6s;
} 

.post-one:hover, .post-two:hover {
  background-color: #303036;
}

.featured-wrapper {
  margin: auto;
  max-width: 1200px;
}

.featured-wrapper a.left-text {
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 272.727% */
}

.featured-section {
  margin: auto;
  max-width: 1200px;
  display: block;
}

.work-one,
.work-two,
.work-three {
  display: flex;
  padding: 15px;
  border-top: 1px solid #1C1D20;
  border-bottom: 1px solid #1C1D20;
  transition: 0.5s;
}

.work-one:hover,
.work-two:hover,
.work-three:hover {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.work-image {
  border-radius: 15px;
  width: 246px;
  height: 180px;
  flex-shrink: 0;
}

.work-info {
  padding: 15px;
}

.work-heading {
  color:white;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
}

.work-properties {
  display: flex;
}

.work-date {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 15px 15px 15px 0px;
}

.work-spec {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 15px 15px 15px 0px;
}

.work-lorem {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 700px;
}

.footer-wrapper {
  padding-top: 150px;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.wrapper-left-block {
  display: flex;
  width: 54%;
}

.wrapper-right-block {
  width: 32%;
  display: inline;
}

.footer-caption {
  padding: 8px;
  font-size: 0.7em;
  color: grey;
}

.footer-info {
  padding: 8px;
}

.footer-info p#time {
  margin: 0;
}

.footer-link {
  padding-right: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: rgb(231, 199, 157);
} 