@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');  

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #1C1D20;
  color: white;
  display: block;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.header {
  padding-top: 15px;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color:  white;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  padding-left: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(247, 108, 8);
} 

.main-wrapper {
  max-width: 1400px;
  margin: auto;
  margin-top: 200px;
}

.featured-wrapper {
  margin: auto;
  margin-top: 120px;
  max-width: 1200px;
}

.featured-wrapper a.left-text {
  color: white;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 136.364% */
}

.featured-section {
  margin: auto;
  margin-top: 50px;
  max-width: 1100px;
  display: block;
}

.work-one,
.work-two,
.work-three {
  display: flex;
  padding: 15px;
}

.work-image {
  border-radius: 15px;
  width: 246px;
  height: 180px;
  flex-shrink: 0;
}

.work-info {
  padding: 15px;
}

.work-heading {
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 5  00;
  line-height: normal;
  padding: 0;
}

.work-properties {
  display: flex;
}

.work-date {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 15px 15px 15px 0px;
}

.work-spec {
  color: grey;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 15px 15px 15px 0px;
}

.work-lorem {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 700px;
}

.footer-wrapper {
  padding-top: 150px;
  padding-bottom: 25px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.wrapper-left-block {
  display: flex;
  width: 54%;
}

.wrapper-right-block {
  width: 32%;
  display: inline;
}

.footer-caption {
  padding: 8px;
  font-size: 0.7em;
  color: grey;
}

.footer-info {
  padding: 8px;
}

.footer-info p#time {
  margin: 0;
}

.footer-link {
  padding-right: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: rgb(231, 199, 157);
} 