@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: white;
    color: #21243D;
    display: block;
}



.header {
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    font-family: Heebo;
}

.logo {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a{
    padding-left: 25px;
    text-decoration: none;
    color: #000;
    text-align: right;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(247, 108, 8);
}

.main-wrapper {
    max-width: 1400px;
    margin: auto;
    margin-top: 200px;
}

.blog-header {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 136.364% */
}

.blog-table {
    display: block;
    margin-bottom: 150px;
}
.post-name {
    text-decoration: none;
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.post-one, .post-two, .post-three, .post-four {
    margin-top: 100px;
}

.post-info {
    display: flex;
    padding: 10px;
}

.line {
    margin: 0px 15px 0px 15px;
}

.post-date, .line {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-status {
    color: var(--Dark-Color, #cdd0f2);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-text {
    color: var(--Dark-Color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-table p {
    max-width: 1200px;
}

.footer-wrapper {
    display: block;
    margin-top: 150px;
    padding-top: 25px;
}

.links-logos {
    display: flex;
    margin: auto;
    justify-content: center;

}

.logo-one, .logo-two, .logo-three, .logo-four {
    padding: 15px;
}

.copyright {
    color: var(--Dark, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
}