.clients-container {
    width: 100%;
    padding: 0em;
    margin: 5em 0;
}

.clients-container__heading {
    font-size: 2.2rem;
    margin: 1em 0 0.5em 0;
}

.clients-container__text {
    margin: 1em 1em 2em 1em;
}

.clients-row {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: calc(1em + 1vh);
}

.clients-row__item {
    font-size: 1rem;
    height: calc(10em + 10vh);
    width: 33%;
    display: flex;
    justify-content: center;
}

.clients-row__item img {
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: .3s;
}

.clients-row__item img:hover {
    filter: grayscale(0%);
}