.featured-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 3em;
}

.featured-container__heading {
    font-size: 2.2rem;
    margin: 1em 0 0.5em 0;
}

.featured-container__text {
    margin: 1em 1em 2em 1em;
}

.projects-container {   
    display: grid;
    max-height: 1400px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 2em;
}

.projects-container__item {
    background-color: var(--white-color);
    border-radius: 2.5em;
    padding: 2em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container__img-wrapper {
    height: 90%;
    width: 90%;
}

.projects-container__img-wrapper img {
    filter: grayscale(100%);
    transition: .3s;
    animation-play-state: paused;
    height: 100%;
    width: 100%;
    border-radius: calc(1em + 1vh);
    object-fit: contain;
}

.projects-container__img-wrapper img:hover {
    filter: grayscale(0%);
}

.projects-container__text {
    font-size: 0.9rem;
    margin: 1em 0;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.projects-container__text:hover {
    text-decoration: underline;
}

.projects-container__text * {
    padding: .5em 0 0 0;
}
