.header-box {
    margin: 5em 0;
    padding: 2em;
    background: var(--white-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.header-box__name {
    font-size: 2.2rem;
    padding: 0 0 0.5em;
    text-align: center;
}

.header-box__text {
    font-size: 1.2em;
    text-align: center;
}

.services-container {
   display: flex;
   flex-direction: column;
}

.services-item {
    width: 100%;
    height: calc(15em + 5vh + 5vw);
    max-height: 500px;
    display: flex;
}

.services-item__img-box {
    width: 35%;
    margin: 1em;
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.services-item__text {
    width: 65%;
    margin: 1em;
    padding: 2em;
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: .3s;
}

.services-item__text:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 2.1em;
}

.services-item__heading {
    font-size: 3rem;
    font-weight: 1000;
}

.services-item__list {
    padding: .8em;
}

.services-item__list-item {
    font-size: 1.4rem;
    list-style: inside;
    margin: 0.7em;
}

.services-item__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-item__img {
    height: 90%;
    object-fit: contain;
    max-width: 90%;
    transition: .9s;
}

.services-item__img:hover {
    height: 90%;
    object-fit: contain;
    max-width: 90%;
    transform: rotate(360deg);
}
