@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    font-size: calc(0.3em + 0.5vw);
    box-sizing: border-box;   
    --grey-color: rgb(179, 179, 179);
    --light-grey-color:rgb(249, 249, 249);
    --black-color: black;
    --white-color: white;
}

body {
    background-color: var(--light-grey-color);
    transition: 0.3s;
    width: 80%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    word-wrap: break-word;
}

@media (min-width: 0px) {
    :root {
        font-size: calc(0.3em + 0.45vw);
    }
    .ham-menu {
        display: flex;
    }
    .services-item__paragraph {
        display: none;
    }
    .services-item {
        justify-content: space-around;
    }
    .services-item__list {
        display: none;
    }
    .navbar {
        display: none;
    }

    .featured-container__text {
        display: none;
    }
    .clients-container__text  {
        display: none;
    } 
    .services-item__heading { 
        align-self: center;
    }

}

@media (min-width: 576px) {
    :root {
        font-size: calc(0.3em + 0.5vw);
    }
    .services-item__list {
        display: block;
    }
    .services-item__heading {
        align-self: auto;
    }
    .services-item__heading:hover {
        align-self: auto;
    }
}

@media (min-width: 768px) {
    :root {
        font-size: calc(0.3em + 0.5vw);
    }
}

@media (min-width: 992px) {
    :root {
        font-size: calc(0.3em + 0.5vw);
    }

    .navbar {
        display: flex;
    }
    .services-item__paragraph {
        display: block;
    }
    .services-item {
        justify-content: space-between;
    }
    .featured-container__text {
        display: block;
    }
    .clients-container__text  {
        display: block;
    } 
    .ham-menu {
        display: none;
    }

}
@media (min-width: 1200px) {
    :root {
        font-size: calc(0.4em + 0.5vw);
    }
}

@media (min-width: 1400px) {
    :root {
        font-size: calc(0.7em + 0.1vw);
    }
}

* { 
    text-decoration: none;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--black-color);
    list-style: none;
    font-family: "Comfortaa", sans-serif; 
}

*::selection {
    background-color: orange;
    }
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}