.profile-container {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0 0;
    background-color: var(--white-color);
    border-radius: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container * {
    padding: 1em 2em;
    margin: 0.5em 0;
}

.profile-greetings {
    border: 1px solid var(--grey-color);
    border-radius: 10em;
}

.profile-name {
    font-size: 7rem;
    padding: 0 5vh;
    margin: 0;
    font-family: "Anton", sans-serif; 
    text-align: center;
}

.profile-text {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
}

.profile-link {
    font-size: 1.2rem;
    border-radius: 10em;
    background: black;
    color: white;
    font-family: "Kode Mono", sans-serif; 
}

.profile-span {
    padding: .75rem 1.25rem;
}

.profile-picture {
    width: 100%;
}

.profile-picture img {
    height: 100%;
    width: 100%;
    border-radius: 5em;
    object-fit: contain;
}